<div class="card mb-2">
    <div class="card-body">

        <form>

            <div class="row">

                <div class="col-sm-4 text-primary">

                    {{trigger.column}}

                </div>

                <div class="col-sm-3 text-primary">

                    {{trigger.type}}

                </div>

                <div class="col-sm-2 text-primary">

                    {{trigger.number}}

                </div>

                <div class="col-sm-3">
                    <button class="btn btn-danger btn-sm" (click)="deleteTrigger(trigger)">Eliminar</button>
                </div>

            </div>

        </form>

    </div>
</div>