<div class="taskscss">

    <div class="inner">

        <h1>Task</h1>

        <div class="border"></div>

        <div class="row">

            <div class="col">

                <div class="taskscss">

                    <div class="name">Full Name</div>

                    <p>Description task</p>

                </div>

            </div>

            <div class="col">

                <div class="taskscss">

                    <div class="name">Full Name</div>

                    <p>Description task</p>

                </div>

            </div>
            <div class="col">

                <div class="taskscss">

                    <div class="name">Full Name</div>

                    <p>Description task</p>

                </div>

            </div>

        </div>

    </div>

</div>